<% if current_volunteer.admin? || current_volunteer == @volunteer %>
<div>
  <h2><%= I18n.t('performance') %>: <%= link_to @volunteer.points, "/score_board/#{@volunteer.id}" %> pts</h2>
</div>
<% end %>
  <div>
    <h2><%= I18n.t('available_event') %></h2>
    <% @events.each do |e| %>
      <% if !e.end_date.past? && !in_event(@volunteer, e)%>
        <ol class="rectangle-list">
          <li><%= link_to e.name, e %></li>
        </ol>
      <% end %>
    <% end %> 
  </div>
  <div>
    <h2><%= I18n.t('registered_task') %></h2>
    <% @events.each do |e| %>
      <% if !e.end_date.past? && in_event(@volunteer, e) %>
      <ol class="rectangle-list">
        <ul>
          <li>
            <%= link_to e.name, e %>
            <ol>
              <ul>
                <% e.tasks.each do |t| %>
                  <% if in_task(@volunteer, t) %>
                    <li><%= link_to t.name, t %></li>
                    <% if current_volunteer.core? || current_volunteer.admin? %>
                      <% if t.task_type? %><h2>Volunteer task</h2>
                      <% else %><h2>Core team task</h2><% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </ol>
          </li>
        </ul>
      </ol>
      <% end %>
    <% end %>  
  </div>
  <div>
    <h2><%= I18n.t('past_event') %></h2>
    <ol class="rectangle-list">
      <ul>
        <% @events.each do |e| %>
          <% if e.end_date.past? && in_event(@volunteer, e) %>
            <li><%= link_to e.name, e %></li>
          <% end %>
        <% end %>  
      </ul>
    </ol>
  </div>