.well.well-small
  .pull-right{ :'data-position' => 'bottom', :'data-intro' => 'Reset the filter settings to defaults.' }
    = link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm'
  = page_entries_info volunteers, :model => 'volunteer'
  = render_filterrific_spinner

%table.table
  %tr
    %th= I18n.t('name')
    - if current_volunteer.admin?
      %th Email
      %th= I18n.t('phone')
      %th= I18n.t('points')
    %th= I18n.t('position')
    %th= I18n.t('registered_at')
    - if current_volunteer.admin?
      %th{:colspan => 3}= I18n.t('options')
  - volunteers.each do |volunteer|
    %tr
      %td= link_to volunteer.name, volunteer
      - if current_volunteer.admin?
        %td= volunteer.email
        %td= volunteer.phone
        %td= volunteer.points
      - if volunteer.core == true
        %td Core
      - elsif volunteer.core == false && volunteer.admin == false
        %td Volunteer
      - else
        %td Manager
      %td= volunteer.created_at.to_date.to_s(:long)
      - if current_volunteer.admin?
        - if !volunteer.core? && !volunteer.admin?
          %td= link_to I18n.t('appoint'), "appoint/volunteers/#{volunteer.id}", method: :appoint,
                              data: { confirm: "You sure?" }, class: "btn btn-xs btn-info"
        - else
          %td
        - if !volunteer.admin?
          %td= link_to I18n.t('delete'), volunteer, method: :delete,
                              data: { confirm: "You sure?" }, class: "btn btn-xs btn-info"
        - else
          %td
        - if !volunteer.core? && !volunteer.admin?
          %td= link_to "Reset", "reset/volunteers/#{volunteer.id}", method: :reset,
                              data: { confirm: "You sure?" }, class: "btn btn-xs btn-info"
        - else
          %td
      
.chardin_box{ :'data-position' => 'right', :'data-intro' => "List of found volunteers." }
  = will_paginate @volunteers, renderer: BootstrapPagination::Rails
