<li>
  <%= image_tag volunteer.image_link, height: '40' %>
  <%= link_to volunteer.name, volunteer %>
  <% if volunteer.core? %>
    | Core
  <% end %>
  <% if volunteer.admin? %>
    | Manager
  <% end %>
  <div class="volindex">
  <% if current_volunteer.admin? && !current_volunteer?(volunteer) %>
      <% if !volunteer.core? %>
        <%= link_to "Appoint core team", "appoint/volunteers/#{volunteer.id}", class: "btn btn-xs btn-info" %>
      <% end %>
      <%= link_to "Delete", volunteer, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn btn-xs btn-info" %>
  <% end %>
  </div>
</li>