.jumbotron
  .page-header{}
    %h1.chardin_box{}
      = I18n.t('volunteers')
    = link_to I18n.t('click_me'),
              "#",
              :id => "overlayTrigger",
              :class => 'btn btn-primary btn-lg',
              :style => 'margin: 0 0 15px 20px;'
  
  .well
    = form_for_filterrific @filterrific do |f|
      .row
        .col-md-4
          .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Search by name, or email, or phone number.' }
            %label= I18n.t('search')
            = f.text_field :search_query,
                           :class => 'filterrific-periodically-observed form-control',
                           :size => 50
                           
        .col-md-4
          .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by programs.' }
            %label= I18n.t('program')
            = f.select :with_programs,
                       @filterrific.select_options[:with_programs],
                       { :include_blank => '- Any -' },
                       { :class => 'form-control' }
        
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by Registration Date.' }
            %label= I18n.t('registered_after')
            = f.text_field :with_created_at_gte,
                           :class => 'js-datepicker form-control'
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by Registration Date.' }
            %label= I18n.t('registered_before')
            = f.text_field :with_created_at_lt,
                           :class => 'js-datepicker form-control'
        - if current_volunteer.admin?
          .col-md-2
            .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Filter by Points.' }
              %label= I18n.t('points_greater')
              = f.text_field :with_points_gte,
                             :class => 'filterrific-periodically-observed form-control'
          .col-md-2
            .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Filter by Points.' }
              %label= I18n.t('points_less')
              = f.text_field :with_points_lt,
                             :class => 'filterrific-periodically-observed form-control'
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Change the sorting.' }
            %label= I18n.t('sorted_by')
            = f.select :sorted_by,
                       @filterrific.select_options[:sorted_by],
                       {},
                       { :class => 'form-control' }
                       
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Display Option.' }
            %label= I18n.t('display')
            = f.select :core,
                       @filterrific.select_options[:core],
                       {},
                       { :class => 'form-control' }
                       
        
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Search by Task ID' }
            %label Task ID
            = f.text_field :with_any_task_ids, 
                           :class => 'filterrific-periodically-observed form-control'
                           
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Filter by tags.' }
            %label= I18n.t('tags')
            = f.select :with_tags,
                       @filterrific.select_options[:with_tags],
                       { :include_blank => '- Any -' },
                       { :class => 'form-control' }
                       
  
  #results
    = render :partial => 'volunteers/list',
             :locals => { :volunteers => @volunteers }

:javascript
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });
