<% provide(:title, 'Sign up') %>
<div class="jumbotron">
  <h1><%= I18n.t('signup') %></h1>
  <% if logged_in? %>
  <%= I18n.t('logged_in') %>
  <% else %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @volunteer, :url => "/volunteers/#{@volunteer.id.to_s}", :html => { :multipart => true } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label I18n.t('name') %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label I18n.t('avatar') %>
        <%= f.text_field :image_link, class: 'form-control' %>
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label I18n.t('phone') %>
        <%= f.phone_field :phone, class: 'form-control' %>
        
        <%= f.label I18n.t('program')%>
        <%= f.select(:program, options_for_select( [["Bachelor of Bussiness (Acountancy)","Bachelor of Bussiness (Acountancy)"],
                                                    ["Bachelor of Bussiness (BIS)","Bachelor of Bussiness (BIS)"],
                                                    ["Bachelor of Commerce","Bachelor of Commerce"],
                                                    ["Bachelor of Business (Economics & Finance)","Bachelor of Business (Economics & Finance)"],
                                                    ["Bachelor of Business (Marketing)","Bachelor of Business (Marketing)"],
                                                    ["Bachelor of Business (Entrepreneurship)","Bachelor of Business (Entrepreneurship)"],
                                                    ["Bachelor of Business (Management)","Bachelor of Business (Management)"],
                                                    ["Bachelor of Business (International Business)","Bachelor of Business (International Business)"],
                                                    ["Bachelor of Communication (Professional Communication)","Bachelor of Communication (Professional Communication)"],
                                                    ["Bachelor of Design (Digital Media)","Bachelor of Design (Digital Media)"],
                                                    ["Diploma of Design (Digital Media)","Diploma of Design (Digital Media)"],
                                                    ["Bachelor of Fashion (Merchandise Management)","Bachelor of Fashion (Merchandise Management)"],
                                                    ["Bachelor of IT","Bachelor of IT"],
                                                    ["Bachelor of Engineering (Electrical and Electronics)", "Bachelor of Engineering (Electrical and Electronics)"],
                                                    ["English","English"],
                                                    ["MBA","MBA"]
                                                    ]), { include_blank: true }) %>
        
        <%= f.label I18n.t('pass') %>
        <%= f.password_field :password, class: 'form-control' %>
  
        <%= f.label I18n.t('pass_confirm')%>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
  
        <%= f.submit I18n.t('join'), class: "btn btn-primary" %>
        
        <p>Your registered information is considered confidential on our site!</p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
