<% provide(:title, @volunteer.name) %>
<div class="jumbotron row .col-xs-6 .col-md-4">
  <aside class="">
    <section class="info">
      <% if current_volunteer == @volunteer %>
        <h1>Your Performance</h1>
      <% else %>
        <h1><%= "#{@volunteer.name}'s Performance".html_safe %></h1>
      <% end %>
      <ul>
        <% @events.each do |e| %>
          <li><h2><%= e.name %></h2>
            <ul>
              <% e.tasks.each do |t| %>
                <% if @tasks.include?(t) %>
                  <li><h3><%= t.name %></h3>
                    <% reg = Register.find_by(task: t, volunteer: @volunteer) %>
                    <% ta = reg[:tag] %>
                    <% if ta.nil? %>
                      Assessment pending.
                    <% else %>
                      Performance tag: <%= tag_name(ta.to_s) %>.<br>
                      Points: <%= t[ta.to_sym] %> pts.
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </section>
  </aside>
</div>