<% provide(:title, @volunteer.name) %>
<div class="container">
<div class="jumbotron row .col-xs-6 .col-md-4">
  <aside class="">
    <section class="info">
      <h1 style="margin-bottom: 30px; font-size: 4em; text-align: center; color: #3A394C;"><%= @volunteer.name %></h1>
      <% if !@volunteer.image_link.nil? %>
        <%= image_tag @volunteer.image_link, height: '150px', width: '150px', class: "center-block img-responsive" %><br>
      <% end %>
      <h2>
      <%= I18n.t('position') %>: 
      <% if @volunteer.admin? %>
        Manager
      <% elsif @volunteer.core? %>
        Core Member.
      <% else %>
        Volunteer.
      <% end %>
      </h2>
      <br>
      <% if current_volunteer.admin? && current_volunteer == @volunteer %>
      <div>
        <h2><%= I18n.t('current_event') %> </h2>
        
        <ol class="rectangle-list">
        
          <ul>
          <% @events.each do |e| %>
            <% if !e.end_date.past? %>
              <li>
                <%= link_to e.name, e %>
                <% if e.tasks.any? %>
                  <ol>
                
                    <ul>
                      <% e.tasks.each do |t| %>
                        <li>
                          <%= link_to t.name, t %> 
                          <h3><%= "#{t.current_volunteer_number}" %>/<%= "#{t.max_volunteer_number}" %> Volunteers</h3>
                        </li>
                        <% if current_volunteer.core? || current_volunteer.admin? %>
                          <% if t.task_type? %>
                            <h3>Volunteer task</h3>
                          <% else %>
                            <h3>Core team task</h3>
                          <% end %>
                        <% end %>
                      <% end %>
                    </ul>
                  </ol>
                    
                <% end %>
              </li>
            <% end %>
          <% end %>
          </ul>
        
        </ol>
        
      </div>
      <% elsif current_volunteer.admin? && !(current_volunteer == @volunteer) %>
        <h2><%= I18n.t('phone') %>: <%= @volunteer.phone %><br></h2>
        <h2>Email: <%= @volunteer.email %></h2>
        <%= render "dashboard" %>
      <% elsif current_volunteer.core? && !@volunteer.admin? %>
        <%= render "dashboard" %>
      <% elsif !current_volunteer.core? && !current_volunteer.admin? && !@volunteer.admin? && !@volunteer.core? %>
        <%= render "dashboard" %>
      <% end %> 
    </section>
  </aside>
</div>
</div>