<% provide(:title, "Log in") %>
<div class="jumbotron">
  <h1><%= I18n.t('login') %></h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>
  
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
  
        <%= f.label I18n.t('pass') %>
        <%= link_to "(forgot password)", new_password_reset_path %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span><%= I18n.t('remember') %></span>
        <% end %>
        
        <%= f.submit I18n.t('login'), class: "btn btn-primary" %>
      <% end %>
  
      <p><%= I18n.t('new_user') %> <%= link_to I18n.t('signup_now'), signup_path %></p>
    </div>
  </div>
</div>