<% provide(:title, "Edit Task") %>
<div class="jumbotron">
  <h1><%= I18n.t('update_task') %></h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@task) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label I18n.t('name') %>
        <%= f.text_field :name, class: 'form-control' %>
  
        <%= f.label I18n.t('desc') %>
        <%= f.text_field :description, class: 'form-control' %>
        
        <%= f.label I18n.t('task_type') %>
        <%= f.select(:task_type, "<option value='true'>Volunteer</option><option value='false'>Core</option>".html_safe) %>
        
        <%= f.label :max_volunteer_number, I18n.t('vol_num') %>
        <%= f.number_field :max_volunteer_number, min: 0, class: 'form-control' %>
        
        <%= f.label :max_backup, I18n.t('backup_num') %>
        <%= f.number_field :max_backup, min: 0, class: 'form-control' %>
  
        <%= f.label I18n.t('start') %>
        <%= f.datetime_select(:start_time, :order => [:month, :day, :year, :hour, :minute], start_year: @task.start_time.year - 10, end_year: @task.start_time.year + 10, with_css_classes: true, time_separator: "", datetime_separator: "") %>
        
        <%= f.label I18n.t('end') %>
        <%= f.datetime_select(:end_time, :order => [:month, :day, :year, :hour, :minute], start_year: @task.end_time.year - 10, end_year: @task.end_time.year + 10, with_css_classes: true, time_separator: "", datetime_separator: "") %>
        
        <%= f.label I18n.t('associated_event') %>
        <%= f.collection_select(:event_id, @events, :id, :name) %>
        
        <%= f.label I18n.t('assign_point') %>
        <ul>
          <li><%= f.label "Absent with notice" %><%= f.number_field :awn, class: 'form-control', max: 0 %></li>
          <li><%= f.label "Absent without notice" %><%= f.number_field :awon, class: 'form-control', max: 0 %></li>
          <li><%= f.label "Late with notice" %><%= f.number_field :lwn, class: 'form-control', max: 0 %></li>
          <li><%= f.label "Late without notice" %><%= f.number_field :lwon, class: 'form-control', max: 0 %></li>
          <li><%= f.label "On time" %><%= f.number_field :ontime, class: 'form-control', min: 0 %></li>
          <li><%= f.label :bonus %><%= f.number_field :bonus, class: 'form-control', min: 0 %></li>
          <li><%= f.label :minus %><%= f.number_field :minus, class: 'form-control', max: 0 %></li>
        </ul>
        <%= f.submit I18n.t('update'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>