<% provide(:title, @task.name) %>
<div class="container">
<div class="jumbotron row">
  <aside class=".col-xs-6 .col-md-4">
    <section class="info">
      <h1>
        <%= @task.name %>
      </h1>
      <% if current_volunteer.admin? || current_volunteer.core? %>
        <%= link_to I18n.t('delete'), @task, method: :delete,
                                      data: { confirm: "You sure?" }, class: "btn btn-xs btn-info" %>
        <%= link_to I18n.t('edit'), edit_task_path(@task), class: "btn btn-xs btn-info" %>
      <% end %>
      <br>
      <h2>
        <%= @task.description %><br>
        <%= I18n.t('task_id') %>: <%= @task.id %><br>
        <% if current_volunteer.admin? || current_volunteer.core? %>
          <%= I18n.t('task_type') %>
          <% if @task.task_type? %>
            Volunteer.
          <% else %>
            Core Member.
          <% end %><br>
        <% end %>
        <%= I18n.t('events') %>: <%= link_to @task.event.name, @task.event %><br>
        <% if @task.start_time.to_date() == @task.end_time.to_date() %>
          <%= I18n.t('on1') %> <%= @task.start_time.to_date().to_formatted_s(:long) %>.
        <% else %>
          <%= I18n.t('from') %> <%= @task.start_time.to_date().to_formatted_s(:long) %> <%= I18n.t('to') %> <%= @task.end_time.to_date().to_formatted_s(:long) %>.
        <% end %>
        <br>
        <%= I18n.t('status') %>: <% if !@task.start_time.past? %>
                  <%= I18n.t('recruit') %>
                <% else %>
                  <% if !@task.end_time.past? %>
                    <%= I18n.t('ongoing') %>
                  <% else %>
                    <%= I18n.t('over') %>
                  <% end %>
                <% end %>
        <br>
        <% if @task.max_volunteer_number == @task.current_volunteer_number %>
          <% if @task.max_backup == @task.current_backup %>
            <%= I18n.t("slot_full") %>
          <% else %>
            <% if session[:locale] == "en" %>
              <%= pluralize(@task.max_backup-@task.current_backup, I18n.t("need_backup")) %> needed.
            <% else %>
              Cần <%= @task.max_backup-@task.current_backup %> <%= I18n.t("need_backup") %>.
            <% end %>
          <% end %>
        <% else %>
          <% if session[:locale] == "en" %>
              <%= pluralize(@task.max_volunteer_number - @task.current_volunteer_number, I18n.t("need_vol")) %> needed.
            <% else %>
              Cần <%= @task.max_volunteer_number - @task.current_volunteer_number %> <%= I18n.t("need_vol") %>.
            <% end %>
        <% end %>
      </h2>
      
      <h2>
      <% if !current_volunteer.admin? %>
        <% if !@task.volunteers.include?(current_volunteer) && @task.max_volunteer_number != @task.current_volunteer_number && !@isRestricted %> 
          <% if (@task.task_type? && !current_volunteer.core?) || (!@task.task_type? && current_volunteer.core?) %>
            <%= form_for(@register) do |f| %>
              <%= f.hidden_field :task_id, value: @task.id %>
              <%= f.hidden_field :volunteer_id, value: current_volunteer.id %>
              <%= f.hidden_field :backup, value: false %>
              <%= f.submit I18n.t('register'), class: "btn btn-primary" %>
            <% end %>
          <% else %>
            You are not allowed to register for this task.
          <% end %>
        <% elsif @task.max_volunteer_number == @task.current_volunteer_number && !@isRestricted && @task.max_backup != @task.current_backup && !@task.volunteers.include?(current_volunteer) %>
          <%= form_for(@register) do |f| %>
            <%= f.hidden_field :task_id, value: @task.id %>
            <%= f.hidden_field :volunteer_id, value: current_volunteer.id %>
            <%= f.hidden_field :backup, value: true %>
            <%= f.submit I18n.t('register_backup'), class: "btn btn-primary" %>
          <% end %>
        <% elsif @isRestricted %>
          <%= I18n.t('not_allowed') %>
        <% elsif @task.volunteers.include?(current_volunteer) %>
           <%= I18n.t('register_already') %>
        <% end %>
      <% end %>
      </h2>
      
      <% if !current_volunteer.admin? %>
        <h2>
        <% if @task.volunteers.include?(current_volunteer) %>
          <% r = Register.find_by(task: @task, volunteer: current_volunteer) %>
          <% if !r.backup? %>
            <% if !r[:tag].nil? %>
              <%= I18n.t('receive_tag', t: tag_name(Register.find_by(task: @task, volunteer: current_volunteer)[:tag])) %>
            <% else %>
              <%= I18n.t('pending') %>
            <% end %>
          <% end %>
        <% end %>
        </h2>
      <% end %>
      
      <p>
        <% if @registers.any? %>
          <h1><%= I18n.t('vol_list') %></h1>
          <ul>
          <% @registers.each do |re| %>
            <% vol = Volunteer.find(re[:volunteer_id]) %>
            <li>
              <h3>
                <%= image_tag vol.image_link, height: '25' %>
                <%= vol.name %> - <% if current_volunteer.admin? || current_volunteer.core? %><%= vol.email %>:<% end %>
                <% if re.backup? %>
                  <%= I18n.t('backup') %>.
                <% else %>
                  <%= I18n.t('official') %>.
                  <% if current_volunteer.admin? %>
                    <%= link_to I18n.t('delete'), re, method: :delete,
                                      data: { confirm: "You sure?" }, class: "btn btn-xs btn-info" %>
                  <% end %>
                <% end %>
              </h3>
            </li>
          <% end %>
          </ul>
        <% end %>
      </p>
      
      <% if current_volunteer.admin? || current_volunteer.core? %>
        <h2>
        <% if @task.start_time < DateTime.current && @registers.any? %>
          <h1><%= I18n.t('assess_table') %></h1>
          <%= form_for :register, :url => assess_path do |f| %>
            <% @registers.each do |re| %>
              <% if !re.backup? %>
                <%= f.fields_for "reg[]", re do |r| %>
                  <%= r.hidden_field :register_id, value: re.id %>
                  <%= r.hidden_field :task_id, value: @task.id %>
                  <h3><%= "#{Volunteer.find(re.volunteer_id).name}".html_safe %>
                  <% if re.tag.nil? %>
                    <%= r.select(:tag, options_for_select( [["Absent with notice","awn"],
                                                            ["Absent without notice","awon"],
                                                            ["Late with notice","lwn"],
                                                            ["Late without notice","lwon"],
                                                            ["On time","ontime"],
                                                            ["Bonus","bonus"],
                                                            ["Minus","minus"]]),{ include_blank: true }) %>
                  <% else %>
                    <%= r.select(:tag, options_for_select( [["Absent with notice","awn"],
                                                            ["Absent without notice","awon"],
                                                            ["Late with notice","lwn"],
                                                            ["Late without notice","lwon"],
                                                            ["On time","ontime"],
                                                            ["Bonus","bonus"],
                                                            ["Minus","minus"]],
                                                            :selected => re.tag.to_s)) %>
                  <% end %>
                  </h3>
                <% end %>
              <% end %>
            <% end %>
            <%= f.submit I18n.t("assess"), class: "btn btn-primary" %>
          <% end %>
        </h2>
        <% end %>
      <% end %>
    </section>
  </aside>
</div>
</div>