<li>
  <%= link_to event.name, event %>
   | Status: <% if !event.start_date.past? %>
                  Recruiting.
                <% else %>
                  <% if !event.end_date.past? %>
                    Ongoing.
                  <% else %>
                    Over.
                  <% end %>
                <% end %>
  <div class="volindex">
  <% if current_volunteer.admin? %>
    <%= link_to I18n.t('delete'), event, method: :delete,
                            data: { confirm: "You sure?" }, class: "btn btn-xs btn-info" %>
    <%= link_to I18n.t('edit'), edit_event_path(event), class: "btn btn-xs btn-info" %>
    <%= link_to I18n.t('add_task'), "tasks/new/#{event.id}", class: "btn btn-xs btn-info" %>
  <% end %>
  </div>
  <br>
</li>