.well.well-small
  .pull-right{ :'data-position' => 'bottom', :'data-intro' => 'Reset the filter settings to defaults.' }
    = link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm'
  = page_entries_info events, :model => 'event'
  = render_filterrific_spinner

%table.table
  %tr
    %th= I18n.t('name')
    %th= I18n.t('start')
    %th= I18n.t('end')
    - if current_volunteer.admin?
      %th{:colspan => 3}= I18n.t('options')
      
  - events.each do |event|
    %tr
      %td= link_to event.name, event
      %td= event.start_date.to_date.to_s(:long)
      %td= event.end_date.to_date.to_s(:long)
      - if current_volunteer.admin?
        %td= link_to I18n.t('delete'), event, method: :delete,
                          data: { confirm: "You sure?" }, class: "btn btn-xs btn-info"
        %td= link_to I18n.t('edit'), edit_event_path(event), class: "btn btn-xs btn-info"
        %td= link_to I18n.t('add_task'), "tasks/new/#{event.id}", class: "btn btn-xs btn-info"
      - else
        %td
        %td
        %td
        %td
        %td
       
.chardin_box{ :'data-position' => 'right', :'data-intro' => "List of found events." }
  = will_paginate @events, renderer: BootstrapPagination::Rails
