<% provide(:title, "Edit Event") %>
<div class="jumbotron">
  <h1><%= I18n.t("update_event") %></h1>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@event) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label I18n.t('name') %>
        <%= f.text_field :name, class: 'form-control' %>
  
        <%= f.label I18n.t('desc') %>
        <%= f.cktext_area :description, :class => 'form-control', :ckeditor => {:language => 'en'} %>
  
        <%= f.label I18n.t("start") %>
        <%= f.date_select(:start_date, :order => [:month, :day, :year], start_year: @event.start_date.year - 10, end_year: @event.start_date.year + 10, with_css_classes: true) %>
        
        <%= f.label I18n.t("end") %>
        <%= f.date_select(:end_date, :order => [:month, :day, :year], start_year: @event.start_date.year - 10, end_year: @event.start_date.year + 10, with_css_classes: true) %>
  
        <%= f.submit I18n.t("submit"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>