.jumbotron
  .page-header{}
    %h1.chardin_box{ :'data-position' => 'right', :'data-intro' => 'Filter and sort events. Click anywhere to remove the overlay.' }
      = I18n.t('events')
    - if current_volunteer.admin?
      = link_to I18n.t('create_event'), 
                new_event_path, 
                :class => "btn btn-sm btn-primary",
                :style => 'margin: 0 0 15px 20px;'
                
    = link_to I18n.t('click_me'),
              "#",
              :id => "overlayTrigger",
              :class => 'btn btn-primary btn-lg',
              :style => 'margin: 0 0 15px 20px;'
  
  .well
    = form_for_filterrific @filterrific do |f|
      .row
        .col-md-4
          .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Search by name' }
            %label= I18n.t('search')
            = f.text_field :search_query, 
                           :class => 'filterrific-periodically-observed form-control',
                           :size => 50
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Filter by Registration Date.' }
            %label= I18n.t('created_after')
            = f.text_field :with_start_date_gte,
                           :class => 'js-datepicker form-control'
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'bottom', :'data-intro' => 'Filter by Registration Date.' }
            %label= I18n.t('created_before')
            = f.text_field :with_start_date_lt,
                           :class => 'js-datepicker form-control'
        
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Change the sorting.' }
            %label= I18n.t('sorted_by')
            = f.select :sorted_by,
                       @filterrific.select_options[:sorted_by],
                       {},
                       { :class => 'form-control' }
                       
        .col-md-2
          .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Display Option.' }
            %label= I18n.t('display')
            = f.select :current,
                       @filterrific.select_options[:current],
                       {},
                       { :class => 'form-control' }
      
  
  #results
    = render :partial => 'events/list',
             :locals => { :events => @events }

:javascript
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });


