<% provide(:title, "Create Event") %>
<div class="jumbotron">
  <h1><%= I18n.t('create_event') %></h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@event) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label I18n.t('name') %>
        <%= f.text_field :name, class: 'form-control' %>
  
        <%= f.label I18n.t('desc') %>
        <%= f.cktext_area :description, :class => 'form-control', :ckeditor => {:language => 'en'} %>
  
        <%= f.label I18n.t('start') %>
        <%= f.date_select(:start_date, :order => [:month, :day, :year, :hour, :minute], start_year: Date.today.year - 10, end_year: Date.today.year + 10, with_css_classes: true, datetime_separator: "") %>
        
        <%= f.label I18n.t('end') %>
        <%= f.date_select(:end_date, :order => [:month, :day, :year, :hour, :minute], start_year: Date.today.year - 10, end_year: Date.today.year + 10, with_css_classes: true, datetime_separator: "") %>
  
  
        <%= f.submit I18n.t('create'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>