<% provide(:title, @event.name) %>
<div class="container">
<div class="jumbotron row">
  <aside class=".col-xs-6 .col-md-4">
    <section class="event_info">
      <h1>
        <%= @event.name %>
      </h1>
      <% if current_volunteer.admin? || current_volunteer.core? %>
        <br>
        <%= link_to I18n.t('delete'), @event, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn btn-xs btn-info" %>
        <%= link_to I18n.t('edit'), edit_event_path(@event), class: "btn btn-xs btn-info" %>
        <%= link_to I18n.t('add_task'), "/tasks/new/#{@event.id}", class: "btn btn-xs btn-info" %>
        <br>
      <% end %>
      <br>
      <h2>
        <%= @event.description.html_safe %><br>
        <% if @event.start_date.to_date() == @event.end_date.to_date() %>
          <%= I18n.t('on1') %> <%= @event.start_date.to_date().to_formatted_s(:long) %>.
        <% else %>
          <%= I18n.t('from') %> <%= @event.start_date.to_date().to_formatted_s(:long) %> <%= I18n.t('to') %> <%= @event.end_date.to_date().to_formatted_s(:long) %>.
        <% end %>
        <br>
        <%= I18n.t('status') %>: <% if !@event.start_date.past? %>
                  <%= I18n.t('recruit') %>.
                <% else %>
                  <% if !@event.end_date.past? %>
                    <%= I18n.t('ongoing') %>.
                  <% else %>
                    <%= I18n.t('over') %>.
                  <% end %>
                <% end %>
        <br>
        <% if @event.tasks.any? %>
          <% if @max == @current %>
            <%= I18n.t('slot_full') %>
          <% else %>
            <% if session[:locale] == "en" %>
              <%= pluralize(@max - @current, I18n.t("need_vol")) %> needed.
            <% else %>
              Cần <%= @max - @current %> <%= I18n.t("need_vol") %>.
            <% end %>
          <% end %> 
        <% end %>
      </h2>
      <h3>
        <% if @event.tasks.any? %>
          <ul>
            <% @event.tasks.each do |t| %>
              <li>
                <%= link_to t.name, t %>
                (<%= "#{t.current_volunteer_number}" %>/<%= "#{t.max_volunteer_number}" %>) (ID: <%=t.id%>)
                <br>

                <% if current_volunteer.core? || current_volunteer.admin? %>
                <h3>
                  <% if t.task_type? %>
                    Volunteer task
                  <% else %>
                    Core team task
                  <% end %> 
                <% end %>
                </h3>
                <div class = "volindex">
                <% if current_volunteer.admin? %>
                  <%= link_to I18n.t('delete'), t, method: :delete,
                                                data: { confirm: "You sure?" }, class: "btn btn-xs btn-info" %>
                  <%= link_to I18n.t('edit'), edit_task_path(t), class: "btn btn-xs btn-info" %>
                <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </h3>
    </section>
  </aside>
</div>
</div>