<h1>User Guide for <%= render "usertype" %></h1>
  <div class="jumbotron">
    <h3>Below is the list of implemented functionalities and instructions regarding SESG website operation for
    <%= render "usertype" %>: </h3><br>
    <ol>
      <li><h4><%= render "usertype" %> can view their own dashboard specifying their participated 
        events and tasks in the Home page.</h4>
      </li>
      <br><br>
      
      <li><h4><%= render "usertype" %> is able to access the full list of registered volunteers 
      by clicking on the Volunteers option.</h4>
      <ul>
        <% if current_volunteer.admin? %>
          <li>For each volunteer, the <%= render "usertype" %> 
          has the options to delete (remove them from the database) and
          make them a core team member (using 'Appoint core team' option).</li>
        <% else %>
        <li>Detailed information for each member will be displayed when clicking on their name from the list.</li>
        <% end %>
      </ul>
      </li>
      <br><br>
      
      <li><h4><%= render "usertype" %> can gain access to the full list of past, current and future events
      by clicking on the Events option.</h4>
      <ul>
        <li>For each event, <%= render "usertype" %> 
        <% if current_volunteer.admin? %>
          has the options to delete (remove it from the database), edit and
          add tasks associated with that event.
          <li>The Manager is able to assess volunteers for each task by selecting a certain task and choose 
          performance tag for each volunteer. <br><br>
          <%= link_to image_tag("assess.png", size: "", alt: "Assess Option", id: "") %></li><br>
          <li>The Manager can select and view each event's details.
        <% end %>
        </li>
        <li>
          <% if current_volunteer.admin? || current_volunteer.core? %>
            Detailed information for each event and its tasks (time, tasks and number of available slots for registering) will be displayed when clicking on their names in the list.
          <% else %>
            Volunteers have the option to register to participate in events by clicking on the task name in the desired event.<br><br>
            Volunteers can view registered volunteers for each task and their status (official/backup)
            <%= link_to image_tag("list_task.png", size: "", alt: "Task List", id: "") %><br><br>
            When volunteer slots are full, volunteers can choose to register to be backup volunteers for that event.<br><br>
            <%= link_to image_tag("backup.png", size: "", alt: "Task List", id: "") %>
          <% end %>
          
          <% if current_volunteer.admin? %>
            Manager can choose to remove existing volunteers for each task. When they do, backup volunteers (if exist) will 
            automatically be pushed up to fill in the empty slots.<br><br>
            <%= link_to image_tag("delete_official.png", size: "", alt: "Task List", id: "") %>
          <% end %>
        </li>
      </ul>
      </li>
      <br><br>
      
      <li><h4><%= render "usertype" %> can view their profile, account settings and logout option
      by clicking on the Acount drop-down menu.</h4>
      <ul>
        <li><%= render "usertype" %> can edit their personal information through the Settings option.</li>
          <li><%= render "usertype" %> can update their profile picture.</li>
      </ul>
      </li>
      <br><br>
      
      <li><h4><%= render "usertype" %> can view their
      <% if current_volunteer.admin? %> activity history from the History menu.
      <% else %> notifications. <% end %></h4>
      <% if !current_volunteer.admin? %>
        <%= link_to image_tag("noti.png", size: "", alt: "Account", id: "") %><br>
      <% end %>
      </li>
      
    </ol>
  </div>

