<h1>Hướng dẫn sử dụng cho <%= render "usertype" %></h1>
  <div class="jumbotron">
    <h3>Danh sách các chức năng và hướng dẫn sử dụng của trang web dành cho
    <%= render "usertype" %>: </h3><br>
    <ol>
      <li><h4><%= render "usertype" %> có thể sử dụng trang cá nhân để xem các sự kiện và nhiệm vụ đang tuyển dụng và đã tham gia
          ở menu Trang chủ.</h4>
      </li>
      <br><br>
      
      <li><h4><%= render "usertype" %> có thể xem danh sách toàn bộ thành viên của SESG 
      bằng menu Thành viên.</h4>
      <ul>
        <% if current_volunteer.admin? %>
          <li>Đối với mỗi thành viên, <%= render "usertype" %> 
          có thể xóa (loại bỏ ra khỏi hệ thống) và
          bổ nhiệm họ làm thành viên nòng cốt (sử dụng menu <%= I18n.t('appoint') %>).</li>
        <% else %>
        <li>Xem thông tin về mỗi thành viên bằng cách click vào tên mỗi người trong danh sách.</li>
        <% end %>
      </ul>
      </li>
      <br><br>
      
      <li><h4><%= render "usertype" %> có thể xem danh sách các sự kiện đã qua, đang và sắp diễn ra
      bằng menu Sự kiện.</h4>
      <ul>
        <% if current_volunteer.admin? %>
          <li>Đối với mỗi event, <%= render "usertype" %> có thể xóa (loại bỏ ra khỏi hệ thống), chỉnh sửa và
          thêm nhiệm vụ.
          <li>Quản lý có thể đánh giá các tình nguyện viên cho mỗi nhiệm vụ qua việc chọn 
          thẻ cho mỗi người. <br><br>
          <%= link_to image_tag("assess.png", size: "", alt: "Assess Option", id: "") %></li><br>
        <% end %>
        </li>
        <li>
          <% if current_volunteer.admin? || current_volunteer.core? %>
            Xem thông tin chi tiết về mỗi sự kiện và nhiệm vụ (thời gian, nhiệm vụ và số tình nguyện viên còn thiếu) bằng cách click vào tên sự kiện hoặc nhiệm vụ trong danh sách.
          <% else %>
            Thành viên có thể đăng ký tham gia vào một hoặc nhiều nhiệm vụ cho mỗi sự kiện tại trang nhiệm vụ tương ứng.<br><br>
            Thành viên có thể xem các tình nguyện viên cho mỗi nhiệm vụ và trạng thái của họ (chính thức/dự bị).
            <%= link_to image_tag("list_task.png", size: "", alt: "Task List", id: "") %><br><br>
            Khi đã đủ tình nguyện viên chính thức cho một nhiệm vụ, thành viên có thể đăng ký làm tình nguyện viên dự bị cho nhiệm vụ đó.<br><br>
            <%= link_to image_tag("backup.png", size: "", alt: "Task List", id: "") %>
          <% end %>
          
          <% if current_volunteer.admin? %>
            Quản lý có quyền loại bỏ tình nguyện viên đã đăng ký ra khỏi nhiệm vụ. Trong trường hợp này, 
            tình nguyện viên dự bị (nếu có) sẽ tự động thay thế vị trí còn trống.<br><br>
            <%= link_to image_tag("delete_official.png", size: "", alt: "Task List", id: "") %>
          <% end %>
        </li>
      </ul>
      </li>
      <br><br>
      
      <li><h4><%= render "usertype" %> có thể xem tùy chọn của tài khoản và đăng xuất
      trong menu <%= I18n.t('account') %>.</h4>
      <ul>
        <li><%= render "usertype" %> có thể chỉnh sửa tùy chọn cá nhân qua menu Tùy chọn.<br><br>
        <ol>
          <li><%= render "usertype" %> có thể cập nhật ảnh đại diện.</li>
        </ol>
        </li>
      </ul>
      </li>
      <br><br>
      
      <li><h4><%= render "usertype" %> có thể xem
      <% if current_volunteer.admin? %> lịch sử hoạt động qua menu Lịch sử.
      <% else %> thông báo cá nhân.<% end %> </h4>
      <% if current_volunteer.admin? %>
        <%= link_to image_tag("history.png", size: "", alt: "Account", id: "") %><br>
      <% else %>
        <%= link_to image_tag("noti.png", size: "", alt: "Account", id: "") %><br>
      <% end %>
      </li>
      
    </ol>
  </div>