<% provide(:title, "About") %>
<div class= "jumbotron">

  <h1>About</h1>
  <p>
    The <em>Student Engagement Support Group</em> from RMIT University Vietnam is a group of students who are 
    dedicated to engaging in extracurricular activities, interacting with other students and staff as well as
    enriching their university life by participating in organizing RMIT internal events.
  </p>
  
  <p>
    <%= link_to "Contact Us",   contact_path %> for queries regarding SESG.
  </p>
  
  <p>
    <%= link_to "Sign up", 'signup' %> to become a part of SESG big family and embark on an exciting adventure right here at RMIT Vietnam.
  </p>
</div>