<% provide(:title, "User Guide") %>
<div class= "jumbotron">
  <% if !logged_in? %>
    <% if session[:locale] == "en" %>
      <h1>User Guide</h1>
      <h3>Follow the instructions below as a guide to SESG website: </h3><br/>
      <h4>To become a part of SESG and gain opportunities to participate in several exciting and 
      enriching soft skills in the process, fill in the registration form <%= link_to "HERE", 'signup' %>.</h4>
      <p>After signing up, you will have access to a wide range of events supported/organized by SESG 
      as well as be able to register and take part in making those events happen. Not only 
      are these chances to have fun, working for various events will contribute to your personal 
      development more than you can imagine!</p>
      <p>Right now you are missing out on countless precious opportunities to make your university life be so much more, 
      don't hesitate and sign up now!</p>
      <br/><br/>
      <h4>If you are already a member of SESG, please sign in <%= link_to "here", login_path %> 
      to get updated on what's happening!</h4>
    <% else %>
      <h1>Hướng dẫn</h1>
      <h3>Theo hướng dẫn bên dưới để dễ dàng sử dụng trang web SESG: </h3><br/>
      <h4>Để trở thành một phần của SESG và nhận nhiều cơ hội tham gia vào các sự kiện thú vị và bổ ích đồng thời
      trau dồi kĩ năng mềm trong quá trình làm việc, nhấn vào <%= link_to "ĐÂY", 'signup' %> để đăng ký</h4>
      <p>Sau khi đăng ký, bạn sẽ có cơ hội làm việc trong các sự kiện được tổ chức/hỗ trợ bởi SESG. 
      Không chỉ là cơ hội vui chơi bổ ích, làm việc cho các sự kiện đa dạng sẽ giúp bạn phát triển cá nhân 
      một cách tốt nhất!</p>
      <p>Ngay bây giờ bạn đang bỏ lỡ rất nhiều cơ hội để giúp sinh hoạt tại RMIT ý nghĩa hơn rất nhiều, 
      đừng do dự và đăng ký ngay!</p>
      <br/><br/>
      <h4>Nếu bạn đã là một thành viên của SESG, hãy đăng nhập tại <%= link_to "ĐÂY", login_path %> 
      để cập nhật thông tin mới!</h4>
    <% end %>
    
  <% else %>
    <% if session[:locale] == "en" %>
      <%= render "user" %>
    <% else %>
      <%= render "uservi" %>
    <% end %>
  <% end %>
</div>
    