<div>
   <section id="slide">
  	<div class="vertical-center welcome">
  		<h2 style="font-family: 'Lato'; font-size: 4em; color: #fff;">welcome to<br>___<br>_<br>.</h2>
  		<h2 style="font-family: 'dezen_pro_regular'; font-size: 4em; color: #fff;">.<br>_<br>___<br>SESG INTRANET</h2>
  	</div>
  	<p class="vertical-center welcome" style="text-align: center; font-family: 'Alegreya Sans SC'; color: #fff; font-size:2em;" >SESG with the mission<br>to engage students in RMIT Vietnam social activities <br>to help them discover and develop their potential skills</p>
  </section>
  
  <section id="intro" class="vertical-center">
  	<%= image_tag("sesgnoslogan.png", width: "350", alt: "SESG Intranet", class: "center-block img-responsive") %>
  	<h2 style="color: #06ACDE; text-align: right; padding-right: 6em; font-family: 'Alegreya Sans SC'; font-weight: 300 ;font-size: 1.5em"><br>Student Engagement Support Group - SESG<br><small style="color: #06ACDE; font-family: 'Source Sans Pro'; font-weight: 200">was officially established in semester B 2012<br>
  	by &nbsp;<i>Student Engagement Unit</i>&nbsp;	with the mission to engage students <br> in a variety of social activities to help them<br> discover and develop their potential by supporting them<br>
  	in continuous learning and self leadership, ultimately helping <br> the entire RMIT Vietnam community grow and develop.<br>____________</small></h2>
  </section>
  
	  <section class="vertical-center" style="height: 600px; background: #999999;">
	  	<h2 style="color: #fff">Some of <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;our faces..</h2>
				<ul class="tt-grid">
					<li><%= image_tag("thumbs/7.jpg", width: "250", alt: "img01", class: "img") %></li>
					<li><%= image_tag("thumbs/6.jpg", width: "250", alt: "img02", class: "img") %></li>
					<li><%= image_tag("thumbs/3.jpg", width: "250", alt: "img03", class: "img") %></li>
					<li><%= image_tag("thumbs/4.jpg", width: "250", alt: "img04", class: "img") %></li>
					<li><%= image_tag("thumbs/8.jpg", width: "250", alt: "img05", class: "img") %></li>
					<li><%= image_tag("thumbs/20.jpg", width: "250", alt: "img06", class: "img") %></li>
				</ul>
		</section>
		
	<section id="menulog" class="home center jumbotron">
		<% if !logged_in? %>
	  
	    <div class="main">
	  		<ul class="cbp-ig-grid">
	  			<li>
	  				<%= link_to login_path do %>
							<div data-name="power-outline" data-code="0xe0d2" data-match="on,off power outline " class="icon"><span class="typcn typcn-power-outline"></span></div>
	  					<h3 class="cbp-ig-title">Log In</h3>
	  					<span class="cbp-ig-category">Welcome back, buddy!</span>
	  				<% end %>
	  			</li>
	  			<li>
	  				<%= link_to 'signup' do %>
							<div data-name="user-add" data-code="0xe128" data-match="person user add " class="icon"><span class="typcn typcn-user-add"></span></div>
	  					<h3 class="cbp-ig-title">Sign Up</h3>
	  					<span class="cbp-ig-category">Become one of us!</span>
	  				<% end %>
	  			</li>
	  			<li>
	  				<%= link_to help_path do %>
	  					<div data-name="info-large" data-code="0xe091" data-match=" info large " class="icon"><span class="typcn typcn-info-large"></span></div>
	  					<h3 class="cbp-ig-title">Help</h3>
	  					<span class="cbp-ig-category">Useful Information</span>
	  				<% end %>
	  			</li>
			</div>
	  <% else %>
			<div class="main">
	  		<ul class="cbp-ig-grid">
	  			<li>
	  				<%= link_to edit_volunteer_path(current_volunteer) do %>
							<div data-name="cog-outline" data-code="0xe04f" data-match="settings cog outline " class="icon"><span class="typcn typcn-cog-outline"></span></div>
	  					<h3 class="cbp-ig-title">Account</h3>
	  					<span class="cbp-ig-category">Settings</span>
	  				<% end %>
	  			</li>
	  			<li>
	  				<%= link_to current_volunteer do %>
	  					<div data-name="user" data-code="0xe12c" data-match="person user " class="icon"><span class="typcn typcn-user"></span></div>
	  					<h3 class="cbp-ig-title">Profile</h3>
	  					<span class="cbp-ig-category">Account</span>
	  				<% end %>
	  			</li>
	  			<li>
	  				<%= link_to volunteers_path do %>
	  					<div data-name="group" data-code="0xe083" data-match="users group " class="icon"><span class="typcn typcn-group"></span></div>
	  					<h3 class="cbp-ig-title">Volunteers List</h3>
	  					<span class="cbp-ig-category">Info</span>
	  				<% end %>
	  			</li>
	  			<li>
	  				<%= link_to events_path do %>
	  					<div data-name="world" data-code="0xe149" data-match=" world " class="icon"><span class="typcn typcn-world"></span></div>
	  					<h3 class="cbp-ig-title">Events List</h3>
	  					<span class="cbp-ig-category">Info</span>
	  				<% end %>
	  			</li>
	  			<li>
	  				<%= link_to help_path do %>
	  					<div data-name="info-large" data-code="0xe091" data-match=" info large " class="icon"><span class="typcn typcn-info-large"></span></div>
	  					<h3 class="cbp-ig-title">Help</h3>
	  					<span class="cbp-ig-category">Instructions</span>
	  				<% end %>
	  			</li>
	  			<li>
	  				<%= link_to logout_path, method: "delete" do %>
	  					<div data-name="power" data-code="0xe0d3" data-match="on,off power " class="icon"><span class="typcn typcn-power"></span></div>
	  					<h3 class="cbp-ig-title">Log Out</h3>
	  					<span class="cbp-ig-category">Bye Bye</span>
	  				<% end %>
	  			</li>
	  		</ul>
	  	</div>
	  <% end %>	
	</section>
</div>	
<script>
	$("#slide").css({width:$(window).width(),height:$(window).height()});
	function imgsize() {
	    var W = $(window).width(),
	        H = $(window).height();
	
	    $('#slide').height(H).width(W);
	    $('.welcome').height(H).width(W);
	}
	$(window).bind('resize', function() { imgsize(); });
	$("#slide").vegas({
        preload: true,
        overlay: '<%= asset_path('06.png') %>',
        transitionDuration: 4000,
        delay: 4000,
        slides: [
        { src: '<%= asset_path('1.jpg') %>' },
        { src: '<%= asset_path('2.jpg') %>' },
        { src: '<%= asset_path('3.jpg') %>' },
        { src: '<%= asset_path('4.jpg') %>' }
    ]
    });
</script>
