<div class = "jumbotron">
  <h1>Manager Log</h1>
  <table class="table table-hover">
    <colgroup>
            <col class="col-md-3">
            <col class="col-md-7">
    </colgroup>
    <tbody>
      <tr>
        <th><h3>Time</h3></th>
        <th><h3>Content</h3></th>
      </tr>
      <% his = AdminHistory.all %>
      <% his.each do |h| %>
        <tr>
          <td><%= h.created_at.to_s(:db) %></td>
          <td><%= h.content %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>