/* Account Profile */

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    padding: 0;
}

.rectangle-list a{
    position: relative;
    display: block;
    padding: .4em .4em 0em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #fff;
    transition: all .3s ease-out;   
    width: 70%;
}

.rectangle-list a:hover{
    background: #f1f1f1;
    color: #404040;
}   

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #A53011;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;  
    list-style: none;
}

.rectangle-list ul {
    list-style: none;
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #ddd;  
}

