@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datepicker3.css';
@import 'chardinjs.css';

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,700|Source+Sans+Pro:200|Roboto:100,300&subset=latin,latin-ext,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Lato:100&subset=latin,latin-ext);

@font-face {
    font-family: 'code_pro_demoregular';
    src: font-url('Code_Pro_Demo-webfont.eot');
    src: font-url('Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Code_Pro_Demo-webfont.woff2') format('woff2'),
         font-url('Code_Pro_Demo-webfont.woff') format('woff'),
         font-url('Code_Pro_Demo-webfont.ttf') format('truetype'),
         font-url('Code_Pro_Demo-webfont.svg#ai_kelsol') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'dezen_pro_regular';
    src: font-url('Dezen_Pro_Regular-webfont.eot');
    src: font-url('Dezen_Pro_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Dezen_Pro_Regular-webfont.woff2') format('woff2'),
         font-url('Dezen_Pro_Regular-webfont.woff') format('woff'),
         font-url('Dezen_Pro_Regular-webfont.ttf') format('truetype'),
         font-url('Dezen_Pro_Regular-webfont.svg#dezen_pro_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: font-url('typicons.eot');
  src: font-url('typicons.eot?#iefix') format('embedded-opentype'),
       font-url('typicons.woff') format('woff'),
       font-url('typicons.ttf') format('truetype'),
       font-url('typicons.svg#typicons') format('svg');
}

/* universal */
.containter .alert {
}

.form-control {
  border-radius: 0;
  -webkit-appearance: none;
  border-color: #34B6ED;
}

.btn {
  border-radius: 0px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 7px;
}

.jumbotron {
  background: #fff;
}

#alert {
  margin-top: 5em;
  margin-bottom: 0;
}

body {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 18px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a, a:hover, a:visited{
  text-decoration: none !important; 
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
	font-family: 'Alegreya Sans SC';
	font-weight: 100;
  font-size: 3em;
  color: #3A394C;
  letter-spacing: +2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
	font-family: 'Alegreya Sans SC';
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 100;
  color: #777;
}

h3 {
	font-family: 'Alegreya Sans SC';
  font-size: 1.7em;
  letter-spacing: +1px;
  font-weight: 100;
  margin: 15px;
  color: #777;
}

p {
  font-size: 1em;
  line-height: 1.9em;
}

/* header */

.navbar  {
  opacity: 0.9;
}

.navbar .nav > li  >a {
  color: #30ACDE;
}

.navbar .nav > li  >a:hover {
    color: #30ACDE;
}

.menubtn {
  margin-top: 0.7em;
  float: right;
}

.noti {
  text-align: center;
}

/* Home */

#menulog {
  background: #585E72;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  justify-content: center;
  align-items: center;
}

#slide {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1280px;
}

/* Intro */
#intro {
  height: 600px;
  background: #f1f1f1;
}

/* Thumbs */

.img {
	padding-bottom: 20px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
}
.img:hover {
  -webkit-filter: grayscale(0%);
}

.tt-grid {
	position: relative;
	padding: 0;
	margin: 20px 0 0 0;
	max-width: 960px;
	list-style: none;
	text-align: center;
	font-size: 0px;
}

.tt-grid:before,
.tt-grid:after {
	display: table;
	content: ' ';
}

.tt-grid:after {
	clear: both;
}

.tt-grid li {
	position: relative;
	display: inline-block;
	margin: 10px;
	width: 300px;
	height: 215px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* footer */

footer {
  margin: 0 20px;
  font-family: "Alegreya Sans SC";
  font-size: 1.2em;
  background: #f1f1f1;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #A4192E;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */

aside {
  section.info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Volunteers index */

.volunteers, .events{
  margin: 0;
  ul {
    list-style-type: none;
  }
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.volindex {
  float: right;
}


// // SVG Icons

// .si-icons span {
// 	display: inline-block;
// 	width: 64px;
// 	height: 64px;
// 	//margin: 40px 30px;
// 	cursor: pointer;
// 	background-repeat: no-repeat;
// 	background-position: center center;
// }

// .si-icons-hover span {
// 	width: 128px;
// 	height: 128px;
// 	//margin: 50px 40px;
// }


// /* Fallback for browsers that don't support SVG - Generated with http://iconizr.com/ */
// .no-svg .si-icon-hamburger, .no-svg .si-icon-hamburger-cross { background-image: url('hamburger.png') }
// .no-svg .si-icon-mail { background-image: url('mail.png') }
