<footer class="footer">
  <small>
    Volunteer Management Website by SESG - RMIT University Vietnam
  </small>
  <nav>
    <ul>
      <li><%= link_to I18n.t('about'),   about_path %></li>
      <li><%= link_to I18n.t('contact'),   contact_path %></li>
    </ul>
  </nav>
</footer>
 