<header class="navbar navbar-fixed-top">
  <div>
    <div id="nav">
    	<div>
      	<% abc = session[:locale] %>
        <% if abc == "en" || abc.nil? %>
          <%= link_to "Tiếng Việt", "/change_locale/vn", class: "btn btn-xs btn-info menubtn"%>
        <% else %>
          <%= link_to "English", "/change_locale/en", class: "btn btn-xs btn-info menubtn"%>
        <% end %>
      </div>
      <!--<section class="si-icons si-icons-easing">-->
      <!--  <span id="showLeftPush" class="si-icon si-icon-hamburger-cross" data-icon-name="hamburgerCross"></span>-->
      <!--</section>-->
      </div><button id="showLeftPush" class= "btn btn-xs btn-info menubtn">Menu</button></div>
      <div>
        <% if (current_volunteer != nil) %>
          <% if (!current_volunteer.admin?) %>
            <button class="dropdown btn btn-xs menubtn">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= I18n.t('notifications') %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-right menubtn noti">
                <% if (@notis.size == 0) %>
                  <a>No notifications</a>
                <% else %>
                  <% @notis.each do |n| %>
                      <% if !n.event_id.nil? %>
                        <li>
                        <%= link_to n.content, "/events/#{n.event_id.to_s}" %>
                        </li>
                      <% else %>
                        <li>
                        <%= link_to n.content, "#" %>
                        </li>
                      <% end %>
                  <% end %>
                <% end %>
              </ul>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
      <h3><%= image_tag("sesgnoslogan.png", size: "133x70", alt: "SESG Intranet", class: "center-block img-responsive") %></h3>
        <% if !logged_in? %>
        <%= link_to I18n.t('home'), root_path %>
        <% else %>
        <%= link_to I18n.t('home'), root_path %>
        <%= link_to I18n.t('dashboard'), current_volunteer %>
        <% end %>
        <%= link_to I18n.t('help'), help_path %>
        <% if logged_in? %>
          <%= link_to I18n.t('volunteers'), volunteers_path %>
          <%= link_to I18n.t('events'), events_path %>
  
          <% if current_volunteer.admin? %>
            <%= link_to I18n.t('history'), admin_history_path %>
          <% end %>
          
          <h3 style= "font-size: 1.5em;">
            <%= I18n.t('account') %>
          </h3>
          <%= link_to I18n.t('settings'), edit_volunteer_path(current_volunteer) %>
          <%= link_to I18n.t('logout'), logout_path, method: "delete" %>

        <% else %>
          <%= link_to I18n.t('login'), login_path %>
          <%= link_to I18n.t('signup_now'), signup_path %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
